body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #0062cc;
    transform: translateY(-3px);
}

.ksuid {
    font-size: 2rem;
    margin-top: 2rem;
    transition: opacity 0.2s ease-in-out;
    word-break: break-all;
    color: #666;
}

.ksuid-container {
    margin: 50px auto;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

#copyBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#copyBtn:hover {
    background-color: #1976D2;
}

.hide {
    display: none;
}

.show {
    display: block;
}
